<div class="row col-md-12">
  <div>
    <h4><%= t('dashboard.components.layout.resource') %> - <%= current_user&.current_enterprise ? current_user.current_enterprise.trade_name : 'Selecione uma unidade' %></h4>
    <div class="pull-right mb-2 no-print">
      <%= link_to(report_path(format: :pdf), class: 'btn btn-sm -transparent-standard') do %>
        <i class="bi bi-filetype-pdf"></i>
        <%= t('application.generate_pdf') %>
      <% end %>
    </div>
  </div>
  <% if @finished_transactions_by_month.present? %>
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <h5 class="text-center"><%= t('.profit_by_month_chart') %></h5>
              <div class="d-flex justify-content-between">
                <%= line_chart(@finished_transactions_by_month) %>
              </div>
              <span class="pull-right mt-4">
                <%= link_to('Ver detalhes', transactions_path, style: 'font-size: 12px;') %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
