<div>
  <h4>
    <%= t("application.#{action_header}") %>
    <%= "- #{@skin.name})" if action_header == 'editing' %>
  </h4>
</div>
<div>
  <%= render partial: 'layouts/components/errors',
             locals: { resource: @skin } %>
  <%= form_with(model: @skin) do |form| %>
    <%= render partial: 'skins/components/form',
               locals: { form: form } %>
    <div class="row mt-3">
      <div class="col-lg-6">
        <%= link_to(t('application.cancel'), skins_path, class: 'btn -transparent-standard') %>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-secondary">
          <%= t("application.#{action}") %>
        </button>
      </div>
    </div>
  <% end %>
</div>
