<div class="row">
  <% if request.path == new_transaction_path %>
    <div class="col-lg-4">
      <%= form.label(:transaction_type, class: 'required-label') %>
      <%= form.select :transaction_type_id, transaction_types_collection, { include_blank: 'Selecione o tipo' }, { class: 'form-control', required: true } %>
    </div>
  <% end %>
  <div class="<%= request.path == new_transaction_path ? "col-lg-8" : "col-lg-12" %>">
    <%= form.label(:value, class: 'required-label') %>
    <%= form.text_field(:value, class: 'form-control') %>
  </div>
</div>
