<div class="row available-skins">
  <% @skins.each do |skin| %>
    <div class="col-7 col-sm-5 col-md-4 col-lg-3 mb-3 position-relative">
      <%= link_to(skin_path(skin)) do %>
        <div class="card text-white" style="background: #<%= skin.name_color %>">
          <div class="card-body d-flex flex-column align-items-center justify-content-center position-relative">
            <div class="d-flex justify-content-end w-100">
              <%= image_tag(skin.image, class: 'card-img w-100') %>
            </div>
            <div class="card-img-overlay">
              <h5 class="card-title"><%= skin.name %></h5>
              <p class="card-text mb-0">
                <%= skin.exterior %>
              </p>
              <% if skin.float&.positive? %>
                <p class="card-text">
                  <%= skin.float %>
                </p>
              <% end %>
            </div>
            <% if skin.has_sticker? %>
              <div class="d-inline-flex mb-1 sticker">
                <% skin.sticker_image.each_with_index do |sticker, index| %>
                  <div class="item" title="<%= skin.sticker_name.split(', ')[index] %>">
                    <%= image_tag(sticker, class: 'image') %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="card-text price">
              <%= number_to_currency(skin.steam_price) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
