<div class="d-inline-flex p-5 row col-md-12">
  <div class="mb-2">
    <%= link_to :back, class: 'btn btn-sm -bg-primary' do %>
      <i class="bi bi-arrow-left"></i>
      <%= t('application.back') %>
    <% end %>
    <% if can?(:update, Skin) && @skin.available? %>
      <%= link_to(edit_skin_path(@skin), class: 'btn btn-sm -transparent-standard') do %>
        <i class="bi bi-pencil-square"></i>
        <%= t('application.edit') %>
      <% end %>
    <% end %>
    <% if unavailable?(@skin) && can?(:enable, Skin) && @skin.transaction_id.blank? %>
      <%= link_to(enable_skin_path(@skin),
                  data: {
                    turbo_method: :patch,
                    turbo_confirm: "#{t('skins.components.layout.enable_confirm')}: #{@skin.name}?"
                  },
                  class: 'btn btn-sm -transparent-success-with-border') do %>
        <i class="bi bi-toggle-off"></i>
        <%= t('application.activate') %>
      <% end %>
    <% end %>
    <% if @skin.available? && can?(:disable, Skin) %>
      <%= link_to(disable_skin_path(@skin),
                  data: {
                    turbo_method: :patch,
                    turbo_confirm: "#{t('skins.components.layout.disable_confirm')}: #{@skin.name}?"
                  },
                  class: 'btn btn-sm -transparent-danger-with-border') do %>
        <i class="bi bi-toggle-off"></i>
        <%= t('application.disable') %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= image_tag(@skin.image, width: '100%') %>
    <%= link_to(@skin.inspect_url, class: 'btn btn-sm -transparent-standard w-100 mt-2') do %>
      <i class="bi bi-steam"></i>
      <%= t('application.inspect') %>
    <% end %>
    <% if @skin.has_sticker? %>
      <div class="stickers d-inline-flex mt-2">
        <% @skin.sticker_image.each_with_index do |sticker, index| %>
          <div title="<%= @skin.sticker_name.split(', ')[index] %>">
            <%= image_tag(sticker, width: '100%') %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-7">
    <% if @skin.expiration_date.present? && (@skin.expiration_date > Time.current) %>
      <span>
        <i class="bi bi-lock"></i>
        <%= tradelock_time(@skin) %>
      </span>
    <% end %>
    <h4 class="mt-2" style="border-left: 3px solid #<%= @skin.name_color %>;">
      <span style="margin-left: 2%;"><%= @skin.name %></span>
    </h4>
    <div>
      <%= @skin.exterior %>
    </div>
    <div class="skin">
      <% if @skin.float&.positive? %>
        <div class="float">
          <i class="bi bi-caret-down-fill" style="margin-left: <%= @skin.float * 100 %>%; font-size: 10px;"></i>
          <div class="progress"></div>
          <div class="numeric"><%= @skin.float %></div>
        </div>
      <% end %>

      <div class="price mt-5">
        <span><%= number_to_currency(@skin.highest_value) %></span>
      </div>
    </div>
  </div>
</div>
<h4 class="mt-3"><%= t('skins.components.layout.logs') %></h4>
<div class="row">
  <div class="table-wrap">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th><%= t('.steam_price') %></th>
          <th><%= t('.created_at') %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @skin.logs.order(created_at: :desc).each do |log| %>
          <tr>
            <td><%= number_to_currency(log.steam_price) %></td>
            <td><%= l(log.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
