<h4><%= t('skins.components.layout.logs') %></h4>
<div class="row col-md-12">
  <div class="table-wrap">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th><%= t('.steam_price') %></th>
          <th><%= t('.created_at') %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @skin.logs.each do |log| %>
          <tr>
            <td><%= number_to_currency(log.steam_price) %></td>
            <td><%= l(log.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
