<%= link_to(dashboard_index_path, class: "#{'active-menu' if request.path.include?(dashboard_index_path) || request.path == root_path} list-item-menu list-group-item-action",
                                  id: 'dashboard') do %>
  <div class="menu">
    <div class="icon">
      <i class="bi bi-clipboard-data"></i>
    </div>
    <span><%= t('layouts.application.dashboard') %></span>
  </div>
<% end %>

<% if can?(:read, User) %>
  <%= link_to(admin_users_path, class: "#{'active-menu' if request.path.include?(admin_users_path) || request.path.include?(user_roles_path)} list-item-menu list-group-item-action",
                                id: 'user') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-people"></i>
      </div>
      <span><%= t('admin.users.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<% if can?(:read, Steam::Account) %>
  <%= link_to(steam_accounts_path, class: "#{'active-menu' if request.path.include?(steam_accounts_path)} list-item-menu list-group-item-action",
                                   id: 'steam_account') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-steam"></i>
      </div>
      <span><%= t('steam.accounts.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<% if can?(:read, Skin) %>
  <%= link_to(skins_path, class: "#{'active-menu' if request.path.include?(skins_path)} list-item-menu list-group-item-action",
                          id: 'skin') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-steam"></i>
      </div>
      <span><%= t('skins.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>

<% if can?(:read, Transaction) %>
  <%= link_to(transactions_path, class: "#{'active-menu' if request.path.include?(transactions_path) || request.path.include?(transaction_types_path)} list-item-menu list-group-item-action",
                                 id: 'transaction') do %>
    <div class="menu">
      <div class="icon">
        <i class="bi bi-arrow-left-right"></i>
      </div>
      <span><%= t('transactions.components.layout.resource') %></span>
    </div>
  <% end %>
<% end %>
